/* App.css */

/* Styling for the Header */
header {
    background-color: darkgrey;
    color: white;
    height: 100px; /* Reduced header height */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center; /* Vertically center header content */
  }
  
  /* Styling for the Header Links */
  header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display links horizontally */
    align-items: center; /* Vertically center links */
  }

  .header-left {
    width: 75px;
    height: 75px;
    margin-left: 12.5px;
  }
  
  .header-logo {
    width: 75px;
    height: 75px;
    margin-left: 12.5px;
    display: flex;
    align-items: center;
  }

  .header-right {
    flex-grow: 1; /* Takes up remaining screen width */
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center;
  }
  

  header a {
    margin-right: 25px; /* Add margin to header links */
    text-decoration: none; /* Remove underlines from links */
    color: white;
  }
  
  /* Styling for the Footer */
  footer {
    background-color: darkgrey;
    color: white;
    height: 100px; /* Reduced footer height */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; /* Horizontally center footer content */
    align-items: center; /* Vertically center footer content */
  }
  
  /* Styling for the left-column */
  .left-column {
    background-color: lightgrey;
    width: 200px;
    position: fixed;
    top: 100px; /* Updated top margin based on reduced header height */
    bottom: 100px; /* Updated bottom margin based on reduced footer height */
    left: 0;
    overflow-y: auto;
  }
  
  /* Styling for the body-content */
  .body-content {
    position: fixed;
    top: 100px; /* Updated top margin based on reduced header height */
    left: 200px;
    right: 0;
    bottom: 100px; /* Updated bottom margin based on reduced footer height */
    background-color: white;
    overflow: auto; /* Enable scrolling when content exceeds viewport */
    padding-left: 25px; /* Add padding to avoid overlapping with left-column */
    padding-right: 25px; /* Add padding to avoid overlapping with left-column */
  }

  /* Styling for the logo image in the Header */
  .header-logo {
    width: 75px;
    height: 75px;
  }
  